* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-header .header-top {
    background-color: #f72210;
    color:white;
}

.header-top {
      height: 95px;
      padding: 20px 10px 15px;
}


.header-top {
    position: relative;
    z-index: 2;
}
.jc-sb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.ai-fe {
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-xs {
    display: -webkit-flex;
    display: flex;
}
.jc-fe {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.ai-c {
    -webkit-align-items: center;
    align-items: center;
}
.flex-xs {
    display: -webkit-flex;
    display: flex;
}
.page-header .header-bottom {
    padding-right: 160px;
}
.header-bottom {
    position: relative;
    display: block;
    background-color: #fff;
    border-bottom-color: #f4f5f6;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    z-index: 1;
}
.flex-md {
    display: -webkit-flex;
    display: flex;
}
.jc-c {
    -webkit-justify-content: center;
    justify-content: center;
}
.page-header form#search-block-form--2 .element-invisible {
    right: 82px;
}
.page-header form#search-block-form--2 .element-invisible {
    right: 38px;
}
form#search-block-form--2 .element-invisible {
    top: 18px;
}
form#search-block-form--2 .element-invisible {
    background: url("https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-search-glass.svg") center/contain no-repeat #fff;
    width: 20px;
    height: 20px;
    clip: auto;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.element-invisible {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}
h2 {
    font-size: 33px;
    line-height: 33px;
}
h2 {
    font-size: 22px;
    line-height: 22px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed",sans-serif;
    margin-bottom: 10px;
    position: relative;
    color: #000;
}
.block-title {
    font: bold 16px/16px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    padding-bottom: 11px;
    color: rgba(3,3,3,.4);
}
body {
    font-size: 15px;
    line-height: 20px;
}
.side-image{
  padding-right: 14px;
}
